.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 12px 38px;
  letter-spacing: 0.06em;
  background: $Primary-Red;
  color: $White;
  font: $heading-5-1-sb;
  text-transform: uppercase;
  border: 1px solid transparent;

  &--line {
    padding: 12px 26px;
    background: transparent;
    color: $Primary-Black;
    border: 1px solid $Primary-Dark-Gray;
  }

  &--small {
    padding: 10px 38px;
  }
}